<!DOCTYPE HTML>
<html lang="">
<head>
    <style>
        .center {
            margin: auto;
            text-align: center;
            border: 3px solid black;
        }
    </style>
    <title></title>
</head>
<body>
<div class="container center">
    <div>
        <h1>Hey</h1>
        <p>
            Welcome to PropertyPlup Solution rest API.
            <br>For ease of consumption, <a href="/swagger-ui" th:href="@{/swagger-ui/}" class="btn btn-large btn-success">Check</a> or contact any of our developers for guide.</br>
            <br>Or click <a href="/actuator/health" th:href="@{/actuator/health/}" class="btn btn-large btn-success">health</a> to check the health status of the API.</br>
        </p>
    </div>
    <div>&copy; 2024 PropertyPlug Solution by richfillenterprises.com</div>
</div>
</body>
</html>
